*.log
*.iml
*.pyc
.idea
/target
/out
/venv
**/__pycache__/

**/tensorboard
/venvconda2
/test

/corpus
/tagging


SentimentAnalysisofSinhalaNewsComments.odt
result_interpretation.txt
results.txt
run.bat
run.sh
src/main/python/fasttext/
src/main/python/resources/
src/main/python/vectors/
src/main/python/models/
*.~lock*