*.log
*.iml
*.pyc
.idea
/target
/out
/venv
**/__pycache__/

**/tensorboard
/venvconda2
/test

/corpus/analayzed/saved_models
/tagging

sentiment_analysis_for_Sinhala___TALLIP.pdf
SentimentAnalysisofSinhalaNewsComments.odt
result_interpretation.txt
results.txt
src/main/python/fasttext/
src/main/python/resources/
src/main/python/vectors/
src/main/python/models/
*.~lock*
