#article-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 253, 254);
    /*border: 1px solid black;*/
}

#previous {
    /*background-color: #1b6d85;*/
    /*border: 1px solid black;*/
    /*float: left;*/
    width: 1%;
    height: 100%;
}

#article {
    background-color: #170002;
    border: 1px solid black;
    /*float: left;*/
    width: 98%;
    height: 100%;
}

#next {
    /*background-color: #1b6d85;*/
    /*border: 1px solid black;*/
    /*float: left;*/
    width: 1%;
    height: 100%;
}

#author {
    background-color: #dbdbdb;
    border: 1px solid black;
    text-align: center;
}

#article-id {
    background-color: #dbdbdb;
    border: 1px solid black;
    text-align: center;
}

#title {
    background-color: #dbdbdb;
    border: 1px solid black;
}

#date {
    background-color: #dbdbdb;
    border: 1px solid black;
    text-align: center;
}

#url {
    background-color: #dbdbdb;
    border: 1px solid black;
}

#body {
    background-color: #dbdbdb;
    border: 1px solid black;
}

#comments {
    background-color: #dbdbdb;
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
}

.article-navigation {
    text-align: center;
}

.row {
    margin: 2px;
}

.col-sm-2 .col-sm-8 {
    margin-right: 4px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td  {
    border-color: #c79292;
}

/*
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #c79292;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/
