<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Oops...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Something went wrong :(. Please contact Isuru: isuru.16@cse.mrt.ac.lk</h2>
<p>You can always go to <a href="/newsarticle/0">first article</a></p>
<p>If you remember the last article index you were working on, just append it at the end of the first articles url.</p>
<p>Or go to <a href="/help">help</a></p>
</body>
</html>
