<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>welcome to help</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Basics</h2>
<ul>
    <li>When you accessing articles, url will look something like "..../newsarticle/8".
        You can navigate to articles using the index at the end of the url. (in the example index is 8)</li>
    <li>Once in the article you can see comments listed in the table below the article body.
        Each comment has 4 radio buttons.</li>
    <li>Select one of the 4 options as necessary for each comment.</li>
    <li>Once you are done with the article hit save button at the bottom of the page.
        It will not save if you forget to hit save before navigating out.</li>Please contact Isuru: theisuru@gmail.com
    <li>To freely navigate without saving use next or previous buttons.</li>
</ul>
<h2>Sentiment</h2>
<ul>
    <li>Skim the news article to get an idea about what it is.</li>
    <li>Check if the comment is negative or positive against the news article.
        i.e. commenter agrees or disagrees with the article or globally</li>
    <li>Tick appropriate radio button.</li>
    <li>If the comment has mixed sentiment, tick conflict.</li>
    <li>If the comment has no sentiment, tick neutral.</li>
</ul>
<p>Now you know all about tagging, its time to put your tagging skills to <a href="/newsarticle/0">test</a></p>
</body>
</html>
