<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Let the tagging begin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/navigation.js"></script>
    <style>

    </style>
</head>
<body>
<div class="row" id="article-wrapper">
    <div id="previous"></div>
    <div id="article">
    <form action="#" th:action="@{/processForm}" th:object="${newsArticle}" method="post">
        <div class="row">
            <input type="hidden" th:field="*{articleId}" />
            <div id="article-id" class="col-sm-4">
                <p th:text="*{articleId}"/>
            </div>
            <div id="author" class="col-sm-4">
                <p th:text="*{author}"/>
            </div>
            <div id="date" class="col-sm-4">
                <p th:text="*{date}"/>
            </div>
        </div>
        <div class="row">
            <div id="title" class="col-sm-12">
                <p th:text="*{title}"/>
            </div>
        </div>
        <!--<div class="row">
            <div id="url" class="col-sm-12">
                <p th:text="${newsArticle.url}"/>
            </div>
        </div>-->
        <div class="row">
            <div id="body" class="col-sm-12">
                <p th:text="*{body}"/>
            </div>
        </div>
        <div class="row">
            <div id="comments" class="col-sm-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Index</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Sentiment</th>
                    </tr>
                    <th:block th:each="comment : *{comments}">
                        <tr>

                            <td>
                                <!--<input type="hidden" th:field="${'comments[' + comment.index + '].index'}" />-->
                                <input type="number" th:name="${'comments[' + comment.index + '].index'}"
                                       th:value="${comment.index}" min="0" max="99" readonly="true"/>
                            </td>

                            <!--<td th:text="${comment.index}"></td>-->
                            <td th:text="${comment.author}"></td>
                            <td th:text="${comment.date}"></td>
                            <td th:text="${comment.phrase}"></td>
                            <td>

                                <!--<ul>
                                    <li th:each="sen : ${sentimentValues}">
                                        <input type="radio" th:field="*{comments[0].sentiment}" th:value="${sen}" />
                                        &lt;!&ndash;<label th:for="*{#ids.prev(comments[0].sentiment)}" th:text="${sen}}">Wireframe</label>&ndash;&gt;
                                    </li>
                                </ul>-->
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:name="${'comments[' + comment.index + '].sentiment'}"
                                           th:value="POSITIVE"/>
                                    Positive
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:name="${'comments[' + comment.index + '].sentiment'}"
                                           th:value="NEGATIVE"/>
                                    Negative
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:name="${'comments[' + comment.index + '].sentiment'}"
                                           th:value="NEUTRAL"/>
                                    Neutral
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:name="${'comments[' + comment.index + '].sentiment'}"
                                           th:value="CONFLICT"/>
                                    Conflict
                                </label>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
        <div class="row article-navigation">
            <input id="btn-previous" class="btn btn-sm btn-primary"
                   type="button" value="PREV" th:onclick="'location.href=\'' + ${prevArticle} + '\''"/>
            <button type="submit" class="btn btn-sm btn-success" name="save">SAVE</button>
            <input id="btn-next" class="btn btn-sm btn-primary"
                   type="button" value="NEXT" th:onclick="'location.href=\'' + ${nextArticle} + '\''"/>
        </div>
    </form>
    </div>
    <div id="next"></div>
</div>
</body>
</html>
